body,
html {
    height: 100%;
    padding: 0;
    margin: 0;

}

h1 {
    font-weight: normal;
    font-size: 4em;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 100px;
    width: 500px;
    color: rgb(9, 10, 10);
}

h4 {
    font-weight: normal;
    font-size: 2em;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 100px;
    width: 500px;
    color: rgb(9, 10, 10);
}

a {
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 100px;
}

p {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 100px;
    width: 500px;
    color: #676767;
}


header {
    height: 0px;
}

#form {
    padding-bottom: 0%;
    overflow: hidden;
    position: relative;

}

form {
    margin: 0 auto;
    width: 500px;
    padding-top: 40px;
    position: relative;
    margin-left: 60%;

}

label,
input,
textarea {
    display: block;
}

input,
textarea {
    width: 500px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 1px #676767;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

input:focus,
textarea:focus {
    border: solid 1px #676767;
}

textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}

input[type="submit"] {
    background-color: rgb(217, 234, 221);
    color: white;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

input[type="submit"]:hover {
    background-color: #1ce50e;

}

label {
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
}